[Unit]
Description=1 minute timer for lowbat service
Requires=lowbat-suspend.service

[Timer]
OnBootSec=1 m
OnUnitActiveSec=60
AccuracySec=10

[Install]
WantedBy=timers.target
